# Imagens utilizadas em Web Page
JavaScript - C_Em_Vídeo/Módulo D/aula11 - Banco de Dados + Exercício/imagem_dia.jpeg
JavaScript - C_Em_Vídeo/Módulo D/aula11 - Banco de Dados + Exercício/imagem_noite.jpeg
JavaScript - C_Em_Vídeo/Módulo D/aula11 - Banco de Dados + Exercício/imagem_tarde.png